@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sleeper-purple: #734EF7,
    --sleeper-blue1: #5581f1,
    --sleeper-blue2: #6B85F7,
    --gray-3: #c4c4c4,
    --white: #fff,

}
